/* 
    Document   : centre
    Created on : 25 avr. 2014, 09:39:43
    Author     : btssio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

section{
    border-color: 
}
